@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-brand-light: #faf9f6;
  --color-brand-dark: #1a1a1a;
  --color-brand-gold: #c5a059;
  --color-brand-stone: #e8e6df;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
}